html,
body {
   height:100%;
}

#display{
  background: white;
}
#container {
   min-height:100%;
   position:relative;
}
#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}
#footer{
    position: absolute;
    text-align: center;
    width:100%;
    height:60px;
    bottom: 0; 
}